<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="false">
    <ion-card>
      <img src="../../assets/icon/user.png" />
      <ion-card-header>
        <ion-card-title>Md Tanvir Hossain</ion-card-title>
        <ion-card-subtitle>Software Engineer</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Email: tanvirjewel@live.com
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
